<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <error-page>
        <error-code>403</error-code>
        <location>/DeniedAccess.jsp</location>
    </error-page>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/Login.jsp</form-login-page>
            <form-error-page>/LoginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>staff</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>

    <security-constraint>
        <display-name>Home page</display-name>
        <web-resource-collection>
            <web-resource-name>Database</web-resource-name>
            <description/>
            <url-pattern>/index.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>admindatabase</description>
            <role-name>admin</role-name>
            <role-name>user</role-name>
            <role-name>staff</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>AdminPage</display-name>
        <web-resource-collection>
            <web-resource-name>Database</web-resource-name>
            <description/>
            <url-pattern>/adminProductPage.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>admindatabase</description>
            <role-name>admin</role-name>
            <role-name>staff</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>LoginPage</display-name>
        <web-resource-collection>
            <web-resource-name>Database</web-resource-name>
            <description/>
            <url-pattern>/ProductlineDisplayServlet</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>admindatabase</description>
            <role-name>admin</role-name>
            <role-name>staff</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>StaffPage</display-name>
        <web-resource-collection>
            <web-resource-name>Database</web-resource-name>
            <description/>
            <url-pattern>/EmployeeReadController</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>admindatabase</description>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>OfficePage</display-name>
        <web-resource-collection>
            <web-resource-name>Database</web-resource-name>
            <description/>
            <url-pattern>/OfficeReadController</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>admindatabase</description>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Payment page</display-name>
        <web-resource-collection>
            <web-resource-name>Database</web-resource-name>
            <description/>
            <url-pattern>/payment.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>admindatabase</description>
            <role-name>admin</role-name>
            <role-name>user</role-name>
            <role-name>staff</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Customer page</display-name>
        <web-resource-collection>
            <web-resource-name>Database</web-resource-name>
            <description/>
            <url-pattern>/customer.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>admindatabase</description>
            <role-name>admin</role-name>
            <role-name>user</role-name>
            <role-name>staff</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Create customer page</display-name>
        <web-resource-collection>
            <web-resource-name>Database</web-resource-name>
            <description/>
            <url-pattern>/create-customer.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>admindatabase</description>
            <role-name>admin</role-name>
            <role-name>user</role-name>
            <role-name>staff</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Create payment page</display-name>
        <web-resource-collection>
            <web-resource-name>Database</web-resource-name>
            <description/>
            <url-pattern>/create-payment.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>admindatabase</description>
            <role-name>admin</role-name>
            <role-name>user</role-name>
            <role-name>staff</role-name>
        </auth-constraint>
    </security-constraint>





</web-app>